* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signika-negative-font {
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Login Page */

#login_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #093028; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #237a57, #093028); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #237a57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#login_page .login img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Mover's dashboard */

.user-img {
  display: flex;
  justify-content: center;
}

.user-img img {
  max-width: 100%;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
